@model Mooshak2.Models.Entity.Student

@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}



        <h2>Student HomePage</h2>
        <h3>Welcome to Mooshak 2.0 website</h3>

<div class="boxbody">
    <img src="~/content/images/Moo2.png" width="132" height="132" alt="Image not found.." />
    <h3>Welcome @User to Mooshak 2.0</h3>   
</div>

