@model Mooshak2.Models.Entity.Student

@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div class="boxbody">
<<<<<<< HEAD
    <img src="~/content/images/Moo2.png" width="132" height="132" class="mooshak-image" alt="Image not found.." />
=======
    <img src="~/content/images/Moo2.png" width="132" height="132" alt="Image not found.." />
>>>>>>> b1438173bc90bbaae39f7acad5109907a0bd0308
    <h3>Welcome to Mooshak 2.0</h3>   
</div>

