
@{
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}

<h2>CreateAssignments</h2>

<form>
    
    <label for="name">Name of assignment:</label>
    <input type="text" id="name" name="name" />
    <br />
    <label for="subname">Subname of assignment:</label>
    <input type="text" id="subname" name="subname" />
    <br />
    <label for="description">Subname of assignment:</label>
    <input type="textarea" id="description" name="description" />
    <br />
    <label for="date">Date:</label>
    <input type="datetime" id="date" name="date"/>
    


</form>


 public int id { get; set; }
       
       
        
       
        public List<string> allHandIns { get; set; }
        public string correctOutput { get; set; }
