
@{
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}

<h2>CreateAssignments</h2>

<form>
    <div class="form-control">
        <label for="name">Name of assignment:</label>
        <input type="text" id="name" name="name" />
     </div>
    <div class="form-control">
        <label for="subname">Subname of assignment:</label>
        <input type="text" id="subname" name="subname" />
    </div>
    <div class="form-control">
        <label for="description">Subname of assignment:</label>
        <input type="textarea" id="description" name="description" />
    </div>
    <div class="form-control">
        <label for="date">Date:</label>
        <input type="datetime" id="date" name="date" />
    </div>
    <div class="form-group">
     
        <label for="input">Input:</label>
        <input type="textarea" id="input" name="input" />
    </div>
    <div class="form-group">
        <label for="input">Input:</label>
        <input type="textarea" id="input" name="input" />
    </div>
    <div class="form-group">
        <label for="correctoutput">Correct Output:</label>
        <input type="textarea" id="correctoutput" name="correctoutput" />
    </div>
</form>

