@{
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}

<div class="boxbody">
    <img src="~/content/images/Moo2.png" width="132" height="132" class="mooshak-image" alt="Image not found.." />
    <h3>Welcome to Mooshak 2.0</h3>
</div>