@model List<Mooshak2.Models.Entity.Course>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>CreateUser</h1>

<form action="CreateUser" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="username">UserName:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <label for="ssn">Social security number:</label>
        <input type="text" id="ssn" name="ssn" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
    </div>
    <div>
        <input type="radio" name ="role" id="role" value="1" /> Student <br />
        <input type="radio" name="role" id="role" value="2" /> Teacher <br />
    </div> 
    <hr />
    <h2>Pick a course below</h2> 
    <div>
        @foreach (var item in @Model)
        {
            <input type="radio" name="course" id="course" value="@item.courseName" />@item.courseName<br/>
        }

    </div> 
    <hr />


    <div>
        <input type="submit" id="submit" value="Create User" />
    </div>      

</form>

<div>

    @Html.ActionLink("Return home", "HomePage", "Admin")

</div>