@model List<Mooshak2.Models.Entity.Teacher>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<div class="container-fluid" id="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" id="navtitle">
                    <h2 class="navtitle">Courses</h2>
                </div>
                <div class="panel-body" id="navbuttons"></div>
            </div>
        </div>
    

    <div class="col-md-1"></div>
    
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Create Course</h1>
            </div>

                <div class="panel-body">

                    <form action="CreateCourse" method="POST" class="form-horizontal">

                            <label for="coursename">Course name:</label>
                            <input type="text" id="coursename" name="coursename" />
                            <br />
                       
                            <select multiple id="teacher" name="teacher" class="course-created-select">
                                @foreach (var item in @Model)
                                {
                                    <option value="@item.name">@item.name</option>
                                }
                            </select>

                            <input type="submit" value="Create Course" />

                    </form>
                </div>
            </div>
         </div>
    </div>
</div>

