@model List<Mooshak2.Models.Entity.Teacher>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form action="CreateCourse" method="POST" class="admin-form">
    <h1>Create Course</h1>
    <label for="coursename">Course name:</label>
    <input type="text" id="coursename" name="coursename" />
    <br />
        
    <select multiple id="teacher" name="teacher">
    @foreach (var item in @Model)
    {
        <option value="@item.name">@item.name</option>
    }
    </select>

    <input type="submit" value="Create Course"/>

</form>
<div>

    @Html.ActionLink("Return home", "HomePage", "Admin")

</div>
