@model List<Mooshak2.Models.Entity.Teacher>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>


<!---------------------------------------------

<div class="container-fluid" id="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" id="navtitle">
                    <h2 class="navtitle">Courses</h2>
                </div>
                <div class="panel-body" id="navbuttons"></div>
            </div>
        </div>

-------------------------------------------------------->

<div class="container-fluid" id="fluid">
    <div class="row">
<!-----        <div class="col-md-1"></div>--->

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="navtitle">Create Course</h2>
                </div>

                <div class="panel-body">

                    <form action="CreateCourse" method="POST" id="courseBox" class="form-horizontal">
                        <div class="created-view-div">
                            
                            <div class="form-group">
                                <div class="alert-danger">@Html.ValidationMessage("courseName")</div>
                                <label for="coursename" class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="coursename" class="form-control"  name="coursename" />
                                </div>
                            </div>


                            <br />
                            <br />


                            <div class="alert-danger">@Html.ValidationMessage("courseTeacher")</div>

                            <div class="form-group">
                            <div class="col-sm-10">

                            <select multiple id="teacher" name="teacher">
                                @foreach (var item in @Model)
                                {
                                    <option value="@item.name">@item.name</option>
                                }
                            </select>
                            </div>
                            </div>

                            <br />
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Create Course" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

