
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="boxbody">
    <img src="~/content/images/Moo2.png" width="155" height="155" class="mooshak-image" alt="Image not found.." />
    <h3>Welcome to Mooshak 2.0</h3>
</div>



