@model Mooshak2.Models.ViewModels.AdminUserViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>List of Teachers</h2>

<ul>

    @foreach(var item in )
    {
        <li>Name of course: </li>
    }

</ul>

<h2>List of Teachers</h2>

<ul>

    @foreach(var item in @Model)
    {
        <li>Name of course:@item.students  </li>
    }

</ul>


<div>

    @Html.ActionLink("Return home", "HomePage", "Admin")

</div>