@model Mooshak2.Models.ViewModels.AdminUserViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>List of Teachers</h2>

<ul>

    @foreach(var item in Model.teachers)
    {
        <li>Name of teacher: @item.name </li>
    }

</ul>

<h2>List of Students</h2>

<ul>

    @foreach(var item in Model.students)
    {
        <li>Name of student:@item.name  </li>
    }

</ul>


<div>

    @Html.ActionLink("Return home", "HomePage", "Admin")

</div>